HEI

<h1><%= @store.name %></h1>
<h3><%= @store.address %></h3>
<br><br>

<% @ingredients_items.each do |name, item_array| %>
<h3><%=name.capitalize%></h3>
<% 		item_array.each do |item| %>
<label><%= item.name %></label><br>
<img src = <%=item.image%>><br>
<strong>Price: $<%=item.price%></strong><br>
<% end %>
<% end %>
