<div class="page-header">
  <h1>Create a new recipe</h1>
<div>
<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for @recipe do |f|%>
      <%=f.label :title %>
      <%=f.text_field :title, hide_label: true %>
      <%=f.label :content %>
      <%=f.text_area :content, hide_label: true  %>
      <%=f.label :image %>
      <%=f.text_field :image, hide_label: true  %>
      <%=f.label :category %>
      <%= collection_select(:recipe, :category_ids, Category.order(:name), :id, :name, { include_hidden: false}, {:multiple => true, :class => "form-control"}) %>
      <%= f.collection_check_boxes :ingredient_ids, Recipe.top_ingredients(10), :id, :name %>
      <%= f.label "Choose Unlisted Ingredients" %> 
      <div class="row clearfix">
        <%= f.fields_for :ingredients do |ingredient| %>
          <div class="col-md-4 col-xs-12"><%= ingredient.text_field :name %></div>
        <%end%>
      </div>  
      <%= f.submit "Create Recipe", class: "btn btn-primary pull-right" %>
    <%end%>
  </div>
</div>
